.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1201px;
    height: 1322px;
    padding: 0;
    margin: 80px 122px 41px 119px;
}

@media screen and (max-width: 500px) {
    .stories {
        max-width: 390px;
        min-width: 320px;
        height: 657px;
        margin: 20px 0 0 0;
    }
    
}