.media_stories_background {
    display: none;
}

@media screen and (max-width: 1456px) {
    .media_stories_background {
        display: flex;
        padding: 0;
        background: rgba(255, 255, 255, 0.9);
        background-image: url(../../../images/media_stories_background.jpg);
        width: 390px;
        height: 693px;
        margin-top: -628px;

    }
    
}