.media_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-left: -2px;
}
@media screen and (max-width: 500px) {
    .media_list {
        margin: 3px 67px 2px 0;
    }
    
}