.social_media {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-content: center;
    width: 140.96px;
    height: 33.65px;
    padding: 0;
    margin: 14px -984px 13.35px 0px;
}

@media screen and (max-width: 500px) {
    .social_media {
        margin: 0 68px 0 0px;
    }
    
}