.preview__planyourtrip_h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    padding: 0;
    margin: 0px 0 5px 0;

}

@media screen and (max-width: 1456px) {
    .preview__planyourtrip_h1 {
        display: none;
    }
    
}