.arrow_logo {
    Width:35px;
    Height:22.5px;
    /* background: #fff; */

}

@media screen and (max-width: 500px) {
    .arrow_logo {
        width: 8.75px;
        height: 5.63px;
        
    }
    
}