/* .input_button_text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 163px;
    height: 32px;
    padding: 0;
    /* margin: 13.5px 32.5px 13.5px 32.5px;
 } */

 