.media_img_story_two {
    display: none;
}

@media screen and (max-width: 1456px) {
    .media_img_story_two {
        display: flex;
        position: absolute;
        background-image: url(../../../../../../images/media_img_story_two.jpg);
        border-radius: 16px;
        width: 155px;
        height: 130px;
        margin: 20px 0 0 15px;
        filter: drop-shadow(0px 4px 4px #0D606F);
    
}
}