.main {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;

    border: 0;

    margin-top: -90px;
   
   
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7);
    height: 3677px;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .main {
        max-width: 390px;
        min-width: 320px;
        height: auto;
    }
    
}