.destinations_img {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 2520px;
    height: 800px;

    padding: 0;
    margin-top: 46px;

}

@media screen and (max-width: 500px) {
    .destinations_img {
        display: none;
        width: 100%;
        height: auto;
    }
    
}