.burger_menu {
    display: none;
}

@media screen and (max-width: 1456px) {
    .burger_menu {
        display: block;
        position: absolute;
        flex-direction: column;
        right: -100%;
        background: #F2785C;
        box-shadow: 0px 4px 3px rgb(13 96 111 / 25%);
        border-radius: 10px;
        /* padding: 44px 15px 30px 44px; */
        z-index: 5;
        transition: right 0.5s ease 0s;
        overflow: auto;
        justify-content: space-between;
        width: 165px;
        height: 250px;
        /* transform: translate(100%, 0px); */
    }

.burger_menu._active {
    right: 0%;
    position: fixed;
  

    
}

}
