.menu_nav_list {
    display: none;
}

@media screen and (max-width: 1456px) {
    .menu_nav_list {
        display: flex;
        width: 100%;
        flex-direction: column;
        list-style: none;
        margin: 20px 0 0 0;

    }
    
}