.rectangle_gradient {
    display: flex;
    background: rgba(255, 255, 255, 0.7);

    
}

@media screen and (max-width: 500px) {
    .rectangle_gradient {
        width: 100%;
        height: 251px;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
        
    }
    
}