.header__logo_img {
    /* background-image: url(./assets/images/header_logo_img.svg); */
    background-image: url(../../../../images/header_logo_img.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
       
}

@media screen and (max-width: 500px) {
    .header__logo_img {
        width: 29px;
        height: 30px;
        padding: 0;
        margin: 0;
    }
    
}