.steps_text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    padding: 0;
    margin: 0 283px 0 283px;
    width: 611px;
    height: 53px;

}

@media screen and (max-width: 1456px) {
    .steps_text {
        width: 100%;
        margin: 20px 0 0 0;
        height: 19px;

        /* text */

        text-align: center;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
    }

}